.idea 
*.pcap
.DS_Store
experiments/results*
experiments/figures*
experiments/test_lab*
experiments/*/shared/test_*.json
*-lab/shared/test_*.json
*/__pycache__/
__pycache__
*.pyc
lab/shared/*
.vscode/
sim/ns-3.40/examples/srv6-live-live/p4src
sim/ns-3.40/examples/srv6-live-live/forward_build
sim/ns-3.40/examples/srv6-live-live/livelive_build
sim/ns-3.40/examples/srv6-live-live/results*
sim/ns-3.40/examples/srv6-live-live/parsed-results
sim/ns-3.40/examples/srv6-live-live/figures